*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.hero{
 
color:rgb(249, 248, 247);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



}
.nav{
    justify-content:space-between;
    margin-bottom: 20%
    
    
}
.cin{
    font-size: 2em;
    font-weight: 800;
    color: orangered;
}
.absolute{
    position: absolute;
    width: 100%;
    margin-bottom: 20%;
   
    
    
}
.image{
    position: relative;
    filter: brightness(30%);
}
.un{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 2em;
    
}
.watch{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}
.cntnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    


}
.frm{
    display: flex;
    justify-content: center;
}





.main_container{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    
}
.green{
    color: green;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; 
}
.para_watch{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: black;
}

span{
        color: white;
        font-size: 2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        color: black;
}
.card-img-top{
    height: 18em;
    
    
}